<div data-role="view" data-title="Details" data-model="app.usuarios.usuariosModel" data-bind="events: { show: detailsShow }" id="usuariosModelScreen" class="screen screen--detail" data-transition="slide">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['DisplayName']"></span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li class="flaticon-new-user" style="text-align:center;font-size: 50px;padding: 0;"></li>
                <li>
                    <span>DNI:</span><div data-bind="text: currentItem.DisplayName"></div></li>
                <li>
                    <span>Teléfono:</span><div data-bind="html: currentItem.Username"></div>
                </li>
                <li>
                    <span>Email:</span><div data-bind="html: currentItem.Email"></div>
                </li>
                <li>
                    <span>Fecha de Registro:</span><div data-bind="html: currentItem.CreatedAt"></div>
                </li>
                <li>
                    <span>Crédito:</span><div data-bind="html: currentItem.credito"></div>
                </li>
                <li>
                    <span>Observación:</span><div data-bind="html: currentItem.observacion"></div>
                </li>
                <li>
                    <span>Atendido</span><div data-bind="html: currentItem.estado=='true'?'SI':'NO' "></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_usuariosModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_usuariosModel -->
</div>