<div data-role="view" data-title="Edit" data-model="app.usuarios.editItemViewModel" data-bind="events: { show: onShow }" id="usuariosModelEditScreen" class="screen screen--edit edit-item-view" data-transition="slide">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.usuarios.usuariosModel.editScreenHeaderValue"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_usuariosModel -->
    <!-- END_CUSTOM_CODE_usuariosModel -->
    <div id="editableListForm2" class="form-view screen__content screen__content--form">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="estadoField" class="field km-listview-label field--switch">
                        <span class="field__label">Atendido: </span>


                        <input id="estado" data-bind="value: editFormData.estado" data-role="switch" type="switch">

                    </label>
                </li>
                <li class="form-content-item">
                    <label id="observacionField" class="km-label-above field field--textarea">

                        <span class="field__label" data-bind="text: strings.usuarios.usuariosModel.editableListForm2.observacion.title"></span>

                        <textarea rows="7" data-bind="value: editFormData.observacion"></textarea>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm2 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_editableListForm2 -->
    </div>
</div>